Flask>=2.0.3,<3.0
Flask-CORS>=3.0.10

# Libraries for downloading and processing audio
pytube==12.1.0            # Download videos from YouTube
pydub==0.25.1             # Audio format conversion (e.g., MP3 to WAV)
librosa==0.9.2            # Audio analysis and feature extraction
spleeter==2.4.0           # Instrument separation
music21==6.1.0           # Music notation and generating guitar tabs

# Additional dependencies for audio processing
ffmpeg-python==0.2.0      # FFmpeg interface for audio processing
scipy==1.7.3              # Required by librosa for some operations
numpy==1.21.2             # Required by librosa and other libraries

# other packages needed
urlquote==2.1.0
Werkzeug>=2.0,<3.0
