:root {
  --font-clr: white;
  --hl-blue: #2596BE;
  --hl-pink: #FFB7C5;
  --hl-red: #C75945;
  --clr-moody: #706DE2;
  --clr-rich: #1D263B;
  --clr-dark: #19191C;
}

@font-face {
  font-family: 'Kamikaze';
  src: url('customFonts/subset-Kamikaze-Regular.woff2') format('woff2'),
      url('customFonts/subset-Kamikaze-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

button {
  cursor: pointer;
}


* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-dark);
  color: var(--font-clr);
}

nav {
  background-image: linear-gradient(var(--hl-pink), 20%, var(--clr-rich));
  /* box-shadow: 0 0px 5px 0 var(--clr-moody); */
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  font-family: "Kamikaze";
  height: 7em;
  position: sticky;
  top: 0;
  padding: 0 4em;
}

nav h1 {
  font-size: 2em;
  font-weight: 400;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1em;
  text-underline-offset: 0.3em;
}

nav a {
  color: inherit;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
}

nav li {
  height: 100%;
  width: 5em;
  display: flex;
  justify-content: center;
  font-size: 1em;
  font-family: 'Kamikaze';
}

/* ----------------------------------------- */

.homepage {
  text-align: center;
}

.homepage > h1 {
  font-size: 5em;
  margin-top: 1em;
  padding: 0.25em 0;
}

.homepage > p {
  font-size: 1.5em;
  padding: 0.25em 0;
}

.homepage > form {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.titleForm {
  width: 25%;
  height: 3em;
  border: 0;
  border-radius: 4em;
  padding-inline: 2em;
}

.urlForm {
  width: 70%;
  height: 3.5em;
  border: 0;
  border-radius: 1em;
  padding-inline: 2em;
  font-size: larger;
}

.homepage > form > button {
  font-weight: 900;
  font-size: 1.5em;
  padding: 1em; 
  border: 0;
  border-radius: 1em;
}

/* ----------------------------------------- */

.history-title {
  text-align: center;
  font-size: 1.5em;
  padding: 1.5em 0;
}

.history-con {
  display: flex;
  justify-content: center;
  gap: 2.5%;
  padding: 0 2em;
  height: 35vw;
}

.input-side-con {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 32.5%;
}

.infoBox {
  background-color: var(--clr-rich);
  width: 65%;
  padding: 2.5em;
  overflow-y: scroll;
  text-align: center;
}

.tabBox {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  font-size: 1em;
}

.search-songs {
  font-size: 1.25em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-songs > input {
  border: 0;
  border-radius: 1em;
  width: 50%;
  height: 2.5em;
  padding-inline: 1em;
}

.filter-songs {
  display: flex;
  justify-content: space-evenly;
}

.filter-songs > button {
  padding: 1em;
  border-radius: 1.5em;
  font-weight: 700;
  border: 0;
}

.listBox {
  height: 70%;
  padding: 0.5em;
  background-color: var(--clr-rich);
  overflow-y: scroll;
  border-radius: 1em;
}

.listItem {
  height: 5em;
  padding: 0 1em 0 2em;
  border-radius: 0.5em;
}

.listItem > div {
  color: black;
}