* {
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'Gaijin Shodo';
    src: url('customFonts/subset-GaijinShodo.woff2') format('woff2'),
        url('customFonts/subset-GaijinShodo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: optional;
}

  h1 {
    text-align: center;
  }

  p:nth-of-type(1) {
    text-align: center;
  }

  form:nth-of-type(1) {
    text-align: center;
  }