
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@font-face {
  font-family: 'Kamikaze 3D Gradient';
  src: url('customFonts/subset-Kamikaze3DGradient-Regular.woff2') format('woff2'),
      url('customFonts/subset-Kamikaze3DGradient-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Kamikaze 3D Gradient';
  src: url('customFonts/subset-Kamikaze3DGradient-Italic.woff2') format('woff2'),
      url('customFonts/subset-Kamikaze3DGradient-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: optional;
}

@font-face {
  font-family: 'Kamikaze';
  src: url('customFonts/subset-Kamikaze-Regular.woff2') format('woff2'),
      url('customFonts/subset-Kamikaze-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Kamikaze';
  src: url('customFonts/subset-Kamikaze-Italic.woff2') format('woff2'),
      url('customFonts/subset-Kamikaze-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: optional;
}

.nav {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1 rem;
  border-bottom: thin solid gray;
  font-family: 'Kamikaze';

}

.site-title {
  /* padding-left: 1rem; */
  font-size: 2rem;
}

.nav h1 {
  padding-left: 2rem;
  padding-right: 1rem;
  font-size: 30px;
  font-weight: 400;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
} 

.links {
  font-size: 16px;
  font-family: 'Kamikaze';
}

.nav li {
  font-size: 16px;
  font-family: 'Kamikaze';
}

.nav p {
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 10px;
  align-items: center;
  font-size: 16px;
  font-family: 'Kamikaze';
  cursor: pointer;
  white-space: nowrap;
}

.nav img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-top: 8px;
  margin-right: 18px;
}

.uladjust {
  text-underline-offset: 4px;
  font-size: 18px;
}


