.tabBox {
  display: inline-block; /* Allow width and height */
  width: 2vw; 
  height: 2vw; 
  font-size: 2vw; 
  text-align: center;
}

.listBox {
  border-style:  solid;
  border-color: black;
  width: 25vw; 
  height: 66vh; 
  margin: 5vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.listItem {
  border-bottom: solid;
  border-color: black;
  width: 25vw; 
  height: 6vh;
  display: flex;
  align-items: center;
  padding-left: 1vw;
}

.infoBox {
  border-style:  solid;
  border-color: black;
  width: 65vw; 
  height: 75vh; 
  overflow-y: scroll;
}

